$gunMetal: #4E5D6B;
$blueCobalt: #96A8B1;
$heather: #CECECE;

.blue{
  color: #4c7596;

}
.user-card{
  color: $blueCobalt;
}
.profile-image-md{
  width: 75px;
  border: 2px solid #888;
}
.profile-image-sm{
   width: 50px;
 }
.text-active{
  color: #d1832e;
}
.overview-head-item{
  border-right: 1px solid #ddd;
  h4{
    margin-top: 0;
    padding-top: 0;
    color: #666;
  }
}

.overview-head-item:last-child{
  border: 0;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
  background-color: #fefefe;

  .nav-link{
    color: $blueCobalt;

  }
  .nav-link.active{
    color: #d1832e;
  }
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
  color: $gunMetal;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}
