// Fonts
@import "~font-awesome/scss/font-awesome.scss";
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";


$primaryColor: #00e8d6;
$marioBlue: #5b94ff;

footer{
  background-color: #343a40;
}
/* Structural Elements */
.jumbotron {
  position:relative;
  padding: 0 0 20% 0;

  .subHeading{
    font-size: 1.6rem;
  }
}
.raiseUp{
  z-index: 1000;
}
.jumbotron .container-fluid {
  z-index:200;
  padding: 10% 0 20% 0;
}
.jumbotron-billboard .img {
  margin-bottom: 0px;
  opacity: 0.7;
  color: #fff;
  background: #000 url("/i/mario-luigi-figures.jpg") top left; /*center center;*/
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  padding: 30% 0 0% -10%;
  position: absolute;
  top:0;
  left:0;
  z-index:1;
}
.world-billboard{
  min-height: 600px;
}
#world-1-1-billboard .img{
  background: #000 url('/i/world1-1.jpg') bottom center;
}
#world-1-2-billboard .img{
  background: #000 url('/i/world1-2.jpg') bottom right;
}
#world-1-3-billboard .img{
  background: $marioBlue url('/i/world1-3.jpg') no-repeat bottom left;
}
.world-billboard .img{
  margin-bottom: 0px;
  opacity: 0.8;
  color: #fff;
  width: 100%;
  height: 100%;
  background-size: scroll;
  overflow: hidden;
  padding: 30% 0 0% -10%;
  position: absolute;
  top:0;
  left:0;
  z-index:1;
}
#oneUp{
  margin-top: -56px;
  width: 60px;
}
#bowser{
  position: absolute;
  top: -325px;
  left: -80px;
  width: 300px;
}
#flagPole{
  opacity: .8;
  position: absolute;
  top: -478px;
  right: 10px;
}
@media only screen and (max-width : 800px) {
  /* Styles */
  #marioJump{
    left: 10px !important;
  }
}
#marioJump{
  opacity: .8;
  position: absolute;
  left: 55%;
  bottom: 142px;
  width: 150px;
}

.fluidSectionHeader{
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
.fluidSectionSubHeader{
  text-align: center;
  font-size: 2rem;
}
.barIcon{
  width: 75px;
  opacity: .8;
}

.productTitle{
  font-size: 2rem;
}
.endHome{
  background-color: #5F96F9;
}
.productTable{
  font-family: 'Raleway', sans-serif;;

  td, th{
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  th{
    text-align: left;
    font-weight: normal;
  }
  td{
    text-align: center;
  }
  thead th{
    text-align: center;

  }
  tbody{
    font-family: 'Raleway', sans-serif;;
    td, th{
      font-size: 1.1rem;
    }
    th a{
      opacity: .8;
    }
    th{
      padding-left: 1.5rem;
    }
    th.tableDivider{
      padding-left: 1rem;
    }
    td{
    }
  }
}
.pushBottom{
  position: absolute;
  bottom: 15px;
}

/* Common Elements */
.invalid-feedback{
  display: absolute;
}
.bg-mb{
  background-color: $marioBlue;
}
.blockFont{
  font-family: 'Fjalla One', sans-serif;
}
.roboFont{
  font-family: 'VT323', sans-serif;;
}
.relAnchor{
  position: relative;
}
.fsize1{
  font-size: 3rem;
}
.fsize2{
  font-size: 3.4rem;
}
.fsize3{
  font-size: 3.8rem;
}
.fsize4{
  font-size: 4.2rem;
}
.fsize5{
  font-size: 4.6rem;
}
.fsize6{
  font-size: 5rem;
}
.fsize7{
  font-size: 5.4rem;
}
.fsize8{
  font-size: 5.8rem;
}
.negativeTopMargin{
  margin-top: -1.6rem;
}
.smallPrint{
  font-size: .8rem;
}
.finePrint{
  font-size: .8rem;
}
.textGroup{
  line-height: 1.3;
}
.text-pink{
  color: #e83e8c;
}
.text-brown{
  color: #e1ddbc;
}

